*{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    background-color: black;
}
.div1{
    padding: 110px;
    margin: auto;
    margin-top: 70px;
    height: 500px;
    width:400px;
    border: 5px solid navy;
    border-radius: 20px;
}
img{
    height: 100px;
    width: 100px;
    margin-top: -80px;
    border-radius: 50%;
    margin-left: 40px;
}
#div2, #div3, #div4, .icons, #btn{
    margin-left: 520px;
}
#heading1{
    color: white;
    margin-top: -350px;
    margin-left: 27px;
}

#heading2{
    color: white;
    margin-top: 15px;
    margin-left: 90px;
}

#heading3{
    color: white;
    margin-top: 15px;
    width: 345px;
    text-transform: capitalize;
    word-spacing: 1px;
    letter-spacing: 0.5px;
}
.icons{
    margin-top: 20px;
    word-spacing: 32px;
}

.icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    margin: 5px;
    border-radius: 50%;
    background-color: navy;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
#btn{
    margin-top: 20px;
}

#button{
    color: white;
    font-size: larger;
    font-weight: bolder;
    background-color: rgb(0, 0, 190);
    width: 340px;
    height: 35px;
    border-radius: 7px;
    cursor: pointer;
}
